
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add User</title>
  <link rel="icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.dataTables.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/morris.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/daterangepicker.css}" />

  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}" />

  <script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.js}"></script>
  <!-- <script type="text/javascript" src="assets/js/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="assets/js/loadingoverlay_progress.min.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>

  <!-- <script type="text/javascript" src="assets/js/convertToXls.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/env.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/adduser.js}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img th:src="@{/assets/img/pre-loader.png}"></img>
          </a>
      </div>
      <div class="col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list">
          <li>
            <a href="/admin/dashboard" class="">
            Dashboard
            </a>
          </li>
          <li class="sep"></li>
          <li>
            <a href="/admin/create" class="">
            Create Ticket
            </a>
          </li>
           <li class="sep"></li>
          <li>
            <a href="#" class="">
            Add User
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 clearfix hidden-xs pull-right">
        <ul class="list-inline links-list pull-right">
          <li>
            <p th:text=" ${session.userEmailId} " />
          </li>
          <li class="sep"></li>
          <li>
            <a href="" class="logout-uri">
              Sign Out <i class="glyphicon glyphicon-log-out"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="app" class="container">
  	<div class="row">
   		<div class="col-lg-12">
   			<div class="panel panel-default panel-shadow">
   				<div class="panel-heading">
   					<div class="panel-title">
   						<ul class="list-inline links-list">
   							<li>
   								<h4>Add User</h4>
   							</li>

   							<!-- <li class="pull-right">
   								<div class="date-range" class="pull-right">
   							    <i class="glyphicon glyphicon-calendar"></i>&nbsp;
   							    <span></span>
   							</div>
   							</li> -->
   						</ul>
   					</div>
   				</div>
   				<div class="panel-body">
						<div class="form-horizontal" >
						
							<div class="form-group">
						      <label class="control-label col-sm-2" for="client_name">User Name :</label>
						      <div class="col-sm-10">
						        <input type="text" autocomplete="off" class="form-control" id="name" placeholder="Enter User Name" />
						      </div>
						    </div>
						    
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="role">Role :</label>
						      <div class="col-sm-10">
						        <select class="form-control" id="role">
						        	<option value="">Select Role</option>
							        <option th:each="r : ${role}" th:text="${r}"></option>
							    </select>
							   </div>
						    </div>
						    
						    <div class="form-group">
						      <div class="col-sm-offset-2 col-sm-10">
						        <button type="submit" onclick="createUser()" class="btn btn-default">Submit</button>
						      </div>
					      </div>
					 </div> 
   				</div>
   				
   				
   				<div class="panel-body">
   					<div>
   					<table>
				    		<thead>
				    			<tr>
				    				<th>User Name</th>
				    				<th>Role</th>
				    				<th>Delete</th>
				    			</tr>
				    		</thead>
				    		<tbody>
				    			<tr th:each="user : ${users}" class="clickable-row">
				    				<td th:text="${user.name}"></td>
				    				<td th:text="${user.role}"></td>
				    				<td><a th:href="'/user/delete/'+${user.id}"> delete</a></td>
				    			</tr>
				    		</tbody>
				    	</table>
				    	</div>
   				</div>
   				
   				
   				
   			</div>
   		</div>
   	</div>
  </div>
</body>
</html>
