
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard</title>
  <link rel="icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.dataTables.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/morris.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/daterangepicker.css}" />

  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}" />

  <script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.js}"></script>
  <!-- <script type="text/javascript" src="assets/js/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="assets/js/loadingoverlay_progress.min.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>

  <!-- <script type="text/javascript" src="assets/js/convertToXls.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/env.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/admindashboard.js}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img th:src="@{/assets/img/pre-loader.png}"></img>
          </a>
      </div>
      <div class="col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list">
          <li>
            <a href="#" class="">
            Dashboard
            </a>
          </li>
          <li class="sep"></li>
          <li>
            <a href="/admin/create" class="">
            Create Ticket
            </a>
          </li>
          <li class="sep"></li>
          <li>
            <a href="/admin/adduser" class="">
            Add User
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 clearfix hidden-xs pull-right">
        <ul class="list-inline links-list pull-right">
          <li>
            <p th:text=" ${session.userEmailId} " />
          </li>
          <li class="sep"></li>
          <li>
            <a href="" class="logout-uri">
              Sign Out <i class="glyphicon glyphicon-log-out"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="app" class="container">
  	<div class="row">
   		<div class="col-lg-12">
   			<div class="panel panel-default panel-shadow">
   				<div class="panel-heading">
   					<div class="panel-title">
   						<ul class="list-inline links-list">
   							<li>
   								<h4>Dashboard</h4>
   							</li>
   							
   							<!-- <li class="pull-right">
   								<div class="date-range" class="pull-right">
   							    <i class="glyphicon glyphicon-calendar"></i>&nbsp;
   							    <span></span>
   							</div>
   							</li> -->
   						</ul>
   					</div>
   				</div>
   				<div class="panel-body">
   					<div>
   						<table>
				    		<thead>
				    			<tr>
				    				<th>In Date</th>
				    				<th>Zone</th>
				    				<th>Client Name</th>
				    				<th>Campaign Name</th>
				    				<th>Build Entry</th>
				    				<th>Task Type</th>
				    				<th>Due Date</th>
				    				<th>Team</th>
				    				<th>Assignee</th>
				    				<th>Status</th>
				    				<th>Priority</th>
				    				<!-- <th>Delete</th> -->
				    			</tr>
				    		</thead>
				 			<tfoot></tfoot>
				    		<tbody>
				    			<tr th:each="camp : ${campaigns}" class="clickable-row" th:attr="data-href='/admin/view/'+${camp.id}">
				    				<td th:text="${camp.date}"></td>
				    				<td th:text="${camp.zone}"></td>
				    				<td th:text="${camp.client_name}"></td>
				    				<td th:text="${camp.name}"></td>
				    				<td th:text="${camp.build_entry}"></td>
				    				<td th:text="${camp.task}"></td>
				    				<td th:text="${camp.due_date}"></td>
				    				<td th:text="${camp.team}"></td>
				    				<td th:text="${camp.assignee}"></td>
				    				<td th:text="${camp.status}"></td>
				    				<td th:text="${camp.priority}"></td>
				    				<!-- <td><a th:href="'/admin/delete/'+${camp.id}">delete</a></td> -->
				    			</tr>
				    		</tbody>
				    	</table>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>
 </div>
 
 <!--
<button class="btn btn-primary btn-lg" data-toggle="modal" id="open-model" data-target="#myModalNorm"></button>

Modal
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            Modal Header
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="name">
                    Modal title	
                </h4>
            </div>
            
            Modal Body
            <div class="modal-body">
                
                <div role="form">
                  <div class="form-group">
                    <label>Client Name :</label>
                    <span id="client_name"></span>
                  </div>
                  <div class="form-group">
                    <label>Zone :</label>
                    <span id="zone"></span>
                  </div>
                  <div class="form-group">
                    <label>Due Date :</label>
                    <span id="due_date"></span>
                  </div>
                  <div class="form-group">
                    <label>Task Type :</label>
                    <span id="task"></span>
                  </div>
                  <div class="form-group">
                    <label>Team :</label>
                    <span id="team"></span>
                  </div>
                  <div class="form-group">
                    <label>Status :</label>
                    <span id="status"></span>
                  </div>
                  <div class="form-group">
                    <label>Priority :</label>
                    <span id="priority"></span>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control"
                          id="exampleInputPassword1" placeholder="Password"/>
                  </div>
                  <div class="checkbox">
                    <label>
                        <input type="checkbox"/> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
                
                
            </div>
            
            Modal Footer
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div> -->

</body>
</html>
