
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Ticket</title>
  <link rel="icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.dataTables.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/morris.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/daterangepicker.css}" />

  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}" />

  <script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.js}"></script>
  <!-- <script type="text/javascript" src="assets/js/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="assets/js/loadingoverlay_progress.min.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>

  <!-- <script type="text/javascript" src="assets/js/convertToXls.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/env.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/createticket.js}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img th:src="@{/assets/img/pre-loader.png}"></img>
          </a>
      </div>
      <div class="col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list">
          <li>
            <a href="/admin/dashboard" class="">
            Dashboard
            </a>
          </li>
          <li class="sep"></li>
          <li>
            <a href="#" class="">
            Create Ticket
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 clearfix hidden-xs pull-right">
        <ul class="list-inline links-list pull-right">
          <li>
            <p th:text=" ${session.userEmailId} " />
          </li>
          <li class="sep"></li>
          <li>
            <a href="" class="logout-uri">
              Sign Out <i class="glyphicon glyphicon-log-out"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="app" class="container">
  	<div class="row">
   		<div class="col-lg-12">
   			<div class="panel panel-default panel-shadow">
   				<div class="panel-heading">
   					<div class="panel-title">
   						<ul class="list-inline links-list">
   							<li>
   								<h4>Create Ticket</h4>
   							</li>

   							<!-- <li class="pull-right">
   								<div class="date-range" class="pull-right">
   							    <i class="glyphicon glyphicon-calendar"></i>&nbsp;
   							    <span></span>
   							</div>
   							</li> -->
   						</ul>
   					</div>
   				</div>
   				<div class="panel-body">
						<div class="form-horizontal" >
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="zone">Zone :</label>
						      <div class="col-sm-10">
						        <select class="form-control" id="zone">
						        	<option value="">Select Zone</option>
							        <option th:each="z : ${zone}" th:text="${z}"></option>
							    </select>
							   </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="client_name">Client Name :</label>
						      <div class="col-sm-10">
						        <input type="text" autocomplete="off" class="form-control" id="client_name" placeholder="Enter Client Name" />
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="name">Campaign Name :</label>
						      <div class="col-sm-10">
						        <input type="text" autocomplete="off" class="form-control" id="name" placeholder="Enter Campaign Name" />
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="due_date">Due Date :</label>
						      <div class="col-sm-10">
						        <input type="text" class="form-control" id="due_date" placeholder="Enter Due Date" />
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="task">Task Type :</label>
						      <div class="col-sm-10">
						        <select class="form-control" id="task">
						        	<option value="">Select Task Type</option>
							        <option th:each="tk : ${task}" th:text="${tk}"></option>
							    </select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="team">Team :</label>
						      <div class="col-sm-10">
						        <select class="form-control" id="team">
						        	<option value="">Select Team</option>
							        <option th:each="t : ${team}" th:text="${t}"></option>
							    </select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="status">Status :</label>
						      <div class="col-sm-10">
						        <select  class="form-control" id="status">
						        	<option value="">Select Status</option>
							        <option th:each="st : ${status}" th:text="${st}"></option>
							    </select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="priority">Priority :</label>
						      <div class="col-sm-10">
						        <select class="form-control" id="priority">
						        	<option value="">Select Priority</option>
							        <option th:each="p : ${priority}" th:text="${p}"></option>
							    </select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="control-label col-sm-2" for="description">Description :</label>
						      <div class="col-sm-10">
						        <textarea class="form-control" maxlength="1000" rows="5" id="description"></textarea>
						      </div>
						    </div>
						    <div class="form-group">
						      <div class="col-sm-offset-2 col-sm-10">
						        <button type="submit" onclick="formSubmit()" class="btn btn-default">Submit</button>
						      </div>
					      </div>
					 </div>
   				</div>
   			</div>
   		</div>
   	</div>
  </div>
</body>
</html>
