
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Dashboard</title>
  <link rel="icon" href="assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery.dataTables.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/morris.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/daterangepicker.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/jquery-confirm.css}" />
  

  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom.css}" />

  <script type="text/javascript" th:src="@{/assets/js/jquery.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.js}"></script>
  <!-- <script type="text/javascript" src="assets/js/loadingoverlay.min.js"></script>
  <script type="text/javascript" src="assets/js/loadingoverlay_progress.min.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/daterangepicker.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery-confirm.js}"></script>

  <!-- <script type="text/javascript" src="assets/js/convertToXls.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script> -->
  <script type="text/javascript" th:src="@{/assets/js/env.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/dashboard.js}"></script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img th:src="@{/assets/img/pre-loader.png}"></img>
          </a>
      </div>
      <div class="col-sm-4 clearfix hidden-xs">
        <ul class="list-inline links-list">
          <li>
            <a href="#" class="active">
            Dashboard
            </a>
          </li>
          <li class="sep"></li>
          <li>
            <a href="/console/ticket" class="">
           	My Ticket
            </a>
          </li>
          <li class="sep" th:if="${session.role == 'Admin'}"></li>
          <li th:if="${session.role == 'Admin'}">
            <a href="/console/create" class="">
            Create Ticket
            </a>
          </li>
          <li class="sep" th:if="${session.role == 'Admin'}"></li>
          <li th:if="${session.role == 'Admin'}">
            <a href="/console/adduser" class="">
            Add User
            </a>
          </li>
          
        </ul>
      </div>
      <div class="col-sm-4 clearfix hidden-xs pull-right">
        <ul class="list-inline links-list pull-right">
          <li>
            <a href="/console/profile"><p th:text=" ${session.userEmailId} " /></a>
          </li>
          <li class="sep"></li>
          <li>
            <a href="" class="logout-uri">
              Sign Out <i class="glyphicon glyphicon-log-out"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="app" class="container">
  	<div class="row">
   		<div class="col-lg-12">
   			<div class="panel panel-default panel-shadow">
   				<div class="panel-heading">
   					<div class="panel-title">
   						<ul class="list-inline links-list">
   							<li>
   								<h4>Dashboard</h4>
   							</li>
   						</ul>
   					</div>
   				</div>
   				<div class="panel-body">
   					<div>
   						<table>
				    		<thead>
				    			<tr>
				    				<th>In Date</th>
				    				<th>Zone</th>
				    				<th>Client Name</th>
				    				<th>Campaign Name</th>
				    				<th>Build Entry</th>
				    				<th>Task Type</th>
				    				<th>Due Date</th>
				    				<th>Team</th>
				    				<th>Assignee</th>
				    				<th>Status</th>
				    				<th>Priority</th>
				    			</tr>
				    		</thead>
				 			<tfoot></tfoot>
				    		<tbody>
				    			<tr th:each="camp : ${campaigns}" th:id="${camp.id}"  class="clickable-row" th:classappend="${camp.user != null }  ? '' : 'confirm'" th:attr="data-href='/console/view/'+${camp.id}" >
				    				<td th:text="${camp.date}"></td>
				    				<td th:text="${camp.zone}"></td>
				    				<td th:text="${camp.clientName}"></td>
				    				<td th:text="${camp.name}"></td>
				    				<td th:text="${camp.buildEntry}"></td>
				    				<td th:text="${camp.task}"></td>
				    				<td th:text="${camp.dueDate}"></td>
				    				<td th:text="${camp.team}"></td>
				    				<td th:text="${camp.user != null }  ? ${camp.user.name} : '' "></td>
				    				<td th:text="${camp.status}"></td>
				    				<td th:text="${camp.priority}"></td>
				    			</tr>
				    		</tbody>
				    	</table>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>
 </div>

</body>
</html>
